* {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin: 0px 20px 0px 10px;
}
#headerButtons  {
	BORDER: #f4f4f4 1px solid;
	background-color: transparent;
	border-collapse: collapse;
	margin: 0px 20px 0px 10px;
	padding-bottom: 3px;
	padding-top: 3px;
	
}

#content {
    position: absolute;
    top: 70px;
    bottom: 20px;
    left: 300px;
    right: 20px;
}

.form-left-col {
    width: 310px;
    float: left;
}

.form-right-col {
}

.title {
    font-size: 20px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 0px;
}

li a {
    text-decoration: none;
    display: block;
    color: #000000;
    border-bottom: solid 1px #CCCCCC;
    padding: 8px;
}

li a:hover {
    background-color: #4B0A1E;
    color: #BA8A92;
}

input, textarea {
    border: 1px solid #ccc;
    min-height: 30px;
    outline: none;
}

.form-left-col input {
    margin-bottom: 15px;
    margin-top: 5px;
    width: 280px;
}

textarea {
    margin-bottom: 15px;
    margin-top: 5px;
    height: 200px;
    width: 250px;
}

label {
    display: block;
}

button {
    padding: 6px;
}